/* Core element styles */

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  margin-top: 0;
}

h2 {
  margin-bottom: 0.5rem;
}

a {
  color: #341DFF;
  outline-color: transparent;
  text-decoration: underline;
  transition-duration: 0.25s;
  transition-property: background-color, color, outline-color;
  word-wrap: break-word;
}

a:hover,
a:focus {
  background-color: #341DFF;
  color: #FFF;
  outline: 2px #341DFF solid;
  text-decoration: none;
}

a:active {
  background-color: #897CFF;
  outline-color: #897CFF;
}

/* Article element styles */

.article__content p,
.article__content ul {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.article__content *:last-child {
  margin-bottom: 0;
}

.article__content ul {
  padding-left: 1.5em;
}

.article__content ul ul {
  padding-left: 1em;
}

/* 560px */
@media screen and (min-width: 35rem) {
  .article__content p,
  .article__content ul,
  .article__content blockquote {
    font-size: 1.125rem;
  }
}

.article__content pre {
  background-color:#EDEDED;
  margin: 0 0 1.5rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.article__content img {
  border: 0;
  display: block;
  margin: 0 auto 1.5rem;
  max-width: 100%;
  transition: height 1s, width 1s;
}

.article__content blockquote {
  font-style: italic;
  margin: 0;
}

.article__content blockquote:before {
  content: '\201C';
}

.article__content blockquote:after {
  content: '\201D';
}

.article__content .blockquote {
  margin: 0 0 1.5rem;
}

.article__content cite {
  display: block;
  font-style: normal;
  font-weight: bold;
  margin-top: 0.5rem;
}

.article__content cite:before {
  content: '\2014';
}

@media screen and (min-width: 35rem) {
  .article__content cite,
  .article__content blockquote {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/* Don't do this on Android because vh inconsistency due to address bar */
html:not(.is-android) .article__content img {
  max-height: 80vh;
}

/* Scale down images a bit on desktop */
@media screen and (min-width: 37.5rem) {
  .article__content img {
    max-width: 80%;
  }
}

.article__content * + img,
.article__content img + * {
  margin-top: 1.5rem;
}

/* Header styles */

.site-header {
  border-bottom: 1px #CCC solid;
  box-shadow: 0px 0px 2px 2px #EFEFEF;
  margin-bottom: 2rem;
  overflow: hidden;
}

.site-header a {
  color: #000;
  text-decoration: none;
}

.site-header a:hover,
.site-header a:focus {
  background-color: #000;
  color: #FFF;
  outline-color: #000;
}

.site-header a:active {
  background-color: #888;
  outline-color: #888;
}

@media print {
  .site-header {
    display: none;
  }
}

.site-header__item {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.site-header__item--left {
  float: left;
  margin-right: 0.5rem;
}

.site-header__item--right {
  float: right;
}

.center-wrapper {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
}

/* Article styling */

.article {
  margin-bottom: 1.5rem;
}

.article__header {
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 2rem;
  text-indent: -0.1rem;
}

.article__date {
  color: #777;
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.article__video {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}

@media screen and (min-width: 35rem) {
  .article__video {
    height: 315px;
  }
}

/* Utility classes */

.hidden {
  left: -9999px;
  position: absolute;
}
