/* Variables */
$link_blue: #341DFF;

/* Core element styles */

* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  margin-top: 0;
}

h2,
h3 {
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: $link_blue;
  outline-color: transparent;
  text-decoration: underline;
  transition-duration: 0.25s;
  transition-property: background-color, color, outline-color;
  word-wrap: break-word;

  &:hover,
  &:focus {
    background-color: $link_blue;
    color: #FFF;
    outline: 2px $link_blue solid;
    text-decoration: none;
  }

  &:active {
    background-color: #897CFF;
    outline-color: #897CFF;
  }
}

/* Article element styles */
.article__content {
  h2 {
    border-bottom: 1px #AAA solid;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  p,
  ul,
  ol {
    font-size: 1rem;
    margin: 0 0 1.5rem;
  }

  li ul {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  ul ul {
    padding-left: 1em;
  }

  /* 560px */
  @media screen and (min-width: 35rem) {
    p,
    ul,
    ol,
    blockquote {
      font-size: 1.125rem;
    }
  }

  pre {
    background-color:#EDEDED;
    margin: 0 0 1.5rem;
    padding: 1rem;
    white-space: pre-wrap;
  }

  img {
    border: 0;
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 100%;
    transition: height 1s, width 1s;
  }

  blockquote {
    font-style: italic;
    margin: 0 0 1.5rem;
    

    @media screen and (min-width: 35rem) {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    p {
      margin: 0;

      &+p {
        margin-top: 1rem;
      }

      &:first-of-type:before {
        content: '\201C';
      }

      &:last-of-type:after {
        content: '\201D';
      }
    }

    cite {
      display: block;
      font-style: normal;
      font-weight: bold;
      margin-top: 0.5rem;

      &:before {
        content: '\2014';
      }
    }
  }

  .reference {
    margin-left: 0.125rem;
  
    a:before {
      content: '[';
    }

    a:after {
      content: ']';
    }
  }

  .references {
    border-top: 1px #AAA solid;
    padding-top: 0.25rem;
  }

  /* Don't do this on Android because vh inconsistency due to address bar */
  html:not(.is-android) & img {
    max-height: 80vh;
  }

  /* Scale down images a bit on desktop */
  @media screen and (min-width: 37.5rem) {
    img {
      max-width: 80%;
    }
  }

  * + img,
  img + * {
    margin-top: 1.5rem;
  }
}

/* Header styles */

.site-header {
  background: #333;
  border-bottom: 1px #CCC solid;
  box-shadow: 0px 0px 2px 2px #EFEFEF;
  margin-bottom: 1.5rem;

  @media print {
    display: none;
  }

  a {
    color: #FFF;
    text-decoration: none;

    &:hover {
      background-color: transparent;
      border-bottom: 3px #FFF solid;
      color: #FFF;
      outline: none;
      transition-property: border;
    }

    &:focus {
      outline-color: #FFF;
    }

    &:active {
      background-color: #888;
      outline-color: #888;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.site-header__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;

  @media screen and (min-width: 25rem) {
    justify-content: flex-start;
    text-align: left;
  }
}

.site-header__item {
  flex-grow: 1;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  margin: 0 0.5rem;
  padding: 0;
  text-transform: uppercase;

  @media screen and (min-width: 25rem) {
    flex-grow: 0;
    font-size: 1.25rem;
    margin: 0 2rem 0 0;
  }
}

.center-wrapper {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
}

/* Article styling */

.article {
  margin-bottom: 1.5rem;
  position: relative;
}

.article__header {
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.75rem;
  text-indent: -0.1rem;
}

.article__date,
.article__external {
  color: #777;
  font-family: 'Trebuchet MS', sans-serif;
}

.article__date {
  display: block;
  float: left;
  font-weight: 400;
  text-transform: uppercase;

  /* 24rem larger than the max wrapper size */
  @media screen and (min-width: 76rem) {
    float: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    left: -12rem;
    line-height: 1;
    margin-top: 0.3rem;
    padding: 0 1.25rem 0 1rem;
    position: absolute;
    text-align: right;
    top: 0;
    width: 12rem;
  }

  + .article__header {
    clear: left;
  }
}

.article__external {

  &:before {
    content: '—';
  }

  /* 24rem larger than the max wrapper size */
  @media screen and (min-width: 76rem) {
    display: block;
    left: -12rem;
    padding: 0 1.25rem 0 1rem;
    position: absolute;
    text-align: right;
    top: 2.8125rem;
    width: 12rem;

    &:before {
      content: '';
    }
  }
}

.article__video {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;

  @media screen and (min-width: 35rem) {
    height: 315px;
  }
}

/* Utility classes */

.hidden {
  left: -9999px;
  position: absolute;
}
