/* Variables */
$link_blue: #341DFF;
$code_grey: #EDEDED;

/* Core element styles */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  margin-top: 0;
}

h2,
h3 {
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: $link_blue;
  outline-color: transparent;
  text-decoration: underline;
  transition-duration: 0.25s;
  transition-property: background-color, color, outline-color;
  word-wrap: break-word;

  &:hover,
  &:focus {
    background-color: $link_blue;
    color: #FFF;
    outline: 2px $link_blue solid;
    text-decoration: none;
  }

  &:active {
    background-color: #897CFF;
    outline-color: #897CFF;
  }
}

hr {
  border-bottom-width: 3px;
  border-color: #444;
  border-style: solid;
  border-top-width: 0;
  height: 0px;
  margin: 0 auto 1.5rem;
  max-width: 50%;
}

input,
button {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;

  @media screen and (min-width: 35rem) {
    font-size: 1.125rem;
  }
}

input[type='text'],
input[type='email'] {
  border: 1px #333 solid;
  padding: 0.5rem;
  transition-duration: 0.25s;
  transition-property: outline-color;

  &:focus {
    outline: 2px $link_blue solid;
  }
}

input[type='submit'] {
  background-color: #333;
  border: none;
  color: #FFF;
  cursor: pointer;
  outline-color: transparent;
  padding: 0.5rem;
  transition-duration: 0.25s;
  transition-property: background-color, color, outline-color;
  word-wrap: break-word;

  &:hover,
  &:focus {
    background-color: $link_blue;
    outline: none;
  }
}

/* Article element styles */
.article__content {
  h2 {
    border-bottom: 1px #AAA solid;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  p,
  ul,
  ol {
    font-size: 1rem;
    margin: 0 0 1.5rem;
  }

  li ul {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  ul ul {
    padding-left: 1rem;
  }

  li {
    margin-bottom: 0.5rem
  }

  /* 560px */
  @media screen and (min-width: 35rem) {
    p,
    ul,
    ol,
    blockquote {
      font-size: 1.125rem;
    }
  }

  pre {
    margin: 0 0 1.5rem;
    padding: 1rem;
    white-space: pre-wrap;
  }

  pre {
    background-color: $code_grey;
  }

  picture {
    border: 0;
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 100%;
    transition: height 1s, width 1s;

    & img,
    & source {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  figure {
    display: block;
    margin: 0 auto 1.5rem;

    picture {
      margin-bottom: 0.5rem;
    }

    figcaption {
      font-weight: bold;
      font-variant: italic;
      margin: 0 1rem 1.5rem;
      text-align: center
    }
  }

  blockquote {
    font-style: italic;
    margin: 0 0 1.5rem;
    

    @media screen and (min-width: 35rem) {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    p {
      margin: 0;

      &+p {
        margin-top: 1rem;
      }

      &:first-of-type:before {
        content: '\201C';
      }

      &:last-of-type:after {
        content: '\201D';
      }
    }

    cite {
      display: block;
      font-style: normal;
      font-weight: bold;
      margin-top: 0.5rem;

      &:before {
        content: '\2014';
      }
    }
  }

  .reference {
    margin-left: 0.125rem;
  
    a:before {
      content: '[';
    }

    a:after {
      content: ']';
    }
  }

  .references {
    border-top: 1px #AAA solid;
    padding-top: 0.25rem;
  }

  picture > img,
  picture > source {
    max-height: 80vh;
  }

  /* Scale down images a bit on desktop */
  @media screen and (min-width: 37.5rem) {
    picture {
      max-width: 80%;
    }
  }

  * + picture,
  picture + * {
    margin-top: 1.5rem;
  }

  /* Checklist */

  .checklist {
    background: #FDF8C4;
    background: linear-gradient(to bottom right, #FDF8C4, #E0DBA2);
    border: 1px #AAA solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem 1rem 2.5rem;
    width: 80%;

    @media screen and (min-width: 35rem) {
      width: 50%;
    }

    li {
      border-bottom: 1px #AAA solid;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

/* Header styles */

$header-colour: #333;

.site-header {
  background: $header-colour;
  border-bottom: 1px #CCC solid;
  box-shadow: 0px 0px 2px 2px #EFEFEF;
  margin-bottom: 1.5rem;

  @media print {
    display: none;
  }

  a {
    color: #FFF;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $header-colour;
      background-color: #FFF;
      outline-color: #FFF;
    }

    &:active {
      background-color: #888;
      outline-color: #888;
    }

    @media screen and (min-width: 35rem) {
      display: inline;
      padding: 0;

      &:hover {
        background-color: transparent;
        border-bottom: 3px #FFF solid;
        color: #FFF;
        outline: none;
        transition-property: border;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.site-header__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media screen and (min-width: 35rem) {
    justify-content: center;
    padding: 0.5rem 0;
  }
}

.site-header__item {
  flex-grow: 1;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 35rem) {
    flex-grow: 0;
    font-size: 1.25rem;
    margin: 0 1rem;
  }
}

.center-wrapper {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
}

/* Article styling */

.article {
  margin-bottom: 1.5rem;
  position: relative;
}

.articles {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.article--teaser {
  margin-bottom: 1rem;
  position: relative;

  @media screen and (min-width: 35rem) {
    margin-bottom: 1.5rem;
  }
}

.article__header {
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.75rem;
}

.article__header--teaser {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;

  @media screen and (min-width: 35rem) {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.article__link--teaser {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}

.article__date,
.article__external {
  color: #777;
  font-family: 'Trebuchet MS', sans-serif;
}

.article__date {
  display: block;
  float: left;
  font-weight: 400;
  text-transform: uppercase;

  + .article__header {
    clear: left;
  }

  /* 24rem larger than the max wrapper size */
  @media screen and (min-width: 76rem) {
    float: none;
    font-family: 'Trebuchet MS', sans-serif;
    left: -12rem;
    line-height: 1;
    margin-top: 0.3rem;
    padding: 0 1.25rem 0 1rem;
    position: absolute;
    text-align: right;
    top: 0;
    width: 12rem;
  }
}

.article__external {

  &:before {
    content: '—';
  }

  /* 24rem larger than the max wrapper size */
  @media screen and (min-width: 76rem) {
    display: block;
    left: -12rem;
    padding: 0 1.25rem 0 1rem;
    position: absolute;
    text-align: right;
    top: 2.8125rem;
    width: 12rem;

    &:before {
      content: '';
    }
  }
}

.article__video {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;

  @media screen and (min-width: 35rem) {
    height: 315px;
  }
}

/* Footer */

.article-footer {
  border-top: 3px #000 double;
  padding: 1.5rem 0;

  p,
  ul,
  ol {
    font-size: 1rem;
    margin: 0 0 1.5rem;
  }

  /* 560px */
  @media screen and (min-width: 35rem) {
    p,
    ul,
    ol {
      font-size: 1.125rem;
    }
  }
}

.email-signup__form {
  display: flex;
  justify-content: center;

  form {
    display: flex;
  flex-wrap: wrap;
  }
}

/* Indexes */

.index-level .index-level {
  margin-top: 0.5rem;
}

/* Utility classes */

.hidden {
  left: -9999px;
  position: absolute;
}

.text-center {
  text-align: center;
}
